@import './variables';

.hero {
  background-image: url('../../assets/rumiDarwaza.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;

  .overlay {
    background-color: $bg-overlay;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-color;
    text-align: center;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }

    .browse-btn {
      background-color: $primary-color;
      border: none;
      padding: 0.8rem 1.5rem;
      font-size: 1rem;
      cursor: pointer;
      font-weight: bold;
    }
  }
}